.main {
  margin-left: 2rem;
}

.currentItem {
  text-decoration: underline;
}

li {
  list-style-type: none;
  margin-right: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
  padding: 0;
}

ul a {
  text-decoration: none;
  color: black;
}

.td {
  text-align: center;
}

.tdHead {
  width: 150px;
  text-align: center;
}

.form {
  display:flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 50px;
}

.label {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 10px;
}

.overviewSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.dateBuddy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divesOverview{
  background-color: pink;
  width: 35vw;
}

.paddingOverview {
  padding: 20px;

}

h1 a {
  text-decoration: none;
  color: black;
}

.locationOverview {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.plaatsen {
  background-color: pink;
  padding: 5px;
  margin-right: 5px;
}

.tableButton {
  display: flex;
  flex-direction: column;
}

.button {
  background-color: pink;
  padding: 10px;
  color: black;
  margin: 84px 10px 0px 10px;
}

a {
  text-decoration-line: none;
}

.posts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80vw;
}

.updatePlaats {
  height: 75vh;
}

.materiaal {
  display:flex;
  flex-direction: column;
}