.currentItem {
  text-decoration: underline;
}

li {
  list-style-type: none;
  margin-right: 2rem;
}

ul {
  display: flex;
  flex-direction: row;
}

.td {
  text-align: center;
}

.tdHead {
  width: 150px;
  text-align: center;
}

.form {
  display:flex;
  flex-direction: row;
  margin-top: 50px;
  margin-left: 50px;
}

.label {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 10px;
}

.overviewSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.dateBuddy {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.divesOverview{
  background-color: red;
}

.paddingOverview {
  padding: 20px;
}